$g-font: 'Quicksand', sans-serif;

$g-sizes: (
    sm: 8px,
    md: 16px,
    lg: 32px,
    slg: 64px,
);

$breakpoint: 900px;

$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-slg: 64px;

$font-slg: 4rem;
$font-lg: 2rem;
$font-md: 1.2rem;
$font-sm: 1rem;
$font-ssm: 0.8rem;

$c-background-primary: rgb(242, 242, 245);
$c-background-raised: #fff;
$c-shaddow: rgba(224,224,224,1);
$c-primary: #454545;
$c-primary-light: #646464;
$c-primary-lighter: #838383;
$c-primary-lightest: #cfcfcf;
$c-accent: #EDC79B;

$br-md: 10px;

$bs-md:  0px 0px 6px 1px $c-shaddow;